# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environment
.venv
venv
env
ENV

# Test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# OS-specific & Editor-specific
.DS_Store
.idea/
.vscode/

# Project-specific files to ignore
plan.md
